.secao-topo {
    font-size: 32px;
    font-family: Verdana;
    background-color: beige;
    color: black;
    padding: 50px;
    margin: 0 auto;
}

.subtitulo-secao-topo {
    background-image: url('capa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 150px;
    margin: 0 auto;
}

.text1, .text2 {
     color: black;
     text-align: right;
}
.text1 {
    font-size: 25px;
}
.text2 {
   font-size: 15px;
}

.sobre-nos {
    text-align: center;
    background-color: black;
    margin: 0 auto;
    padding: 20px;
}

.titulo-sobre {
    font-size: 32px;
    color: white;
    margin:0 auto;
}
.paragrafo-sobre {
    padding-bottom: 20px;
    font-size: 20px;
}

.img1, .img2, .img3{
    width: 240px;
    height: 193px;
}
.comentario {
    font-size: 16px;
}
.fundo-atuacao {
    text-align: center;
    text-decoration: underline;
    background-color: black;
    margin: 0 auto;
    padding: 1px;
}
h1 {
    color: white;
}
.fundo-capa {
    text-align: center;
    background-color: beige;
    margin: 0 auto;
    padding: 1px;
}
.area-de-atuacao {
    background-image: url('capa.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 10px;
    margin: 0 auto;
    text-align: center;
}
.estilo {
    list-style: none;
}
.fundo-contato {
    background-color: black;
    text-align: center;
    margin: 0 auto;
    padding: 1px;
}
.contatos {
    text-align: center;
    background-color: beige;
    margin: 0 auto;
    padding: 40px;
}
.estilo2 {
    list-style: none;
}
p {
    font-size: 18px;
}
.whatsapp, .email, .endereco {
    width: 40px;
    height: 40px;
    border: 1px solid beige;
    border-radius: 800px;
}
.logo-tipo {
    text-align: center;
    background-color: beige;
    margin: 0 auto;
    padding: 1px;
}
.mapa {
    background-color:beige;
    margin: 0 auto;
    padding: 1px;
    text-align: center;
}
.video-explicativo {
    text-align: center;
    background-color: black
}


